*{
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    width: 1420px;
    height: 800px;
    background:#eafcfe url() no-repeat top center;
}

div {
    overflow: hidden;
}
.header {
    width: 1370px;
    height: 100px;
    padding-left: 50px;
    color: #475def;
    font-size: 30px;
    font-weight: 700;
    line-height: 100px;
    font-family: "微软雅黑";
    text-shadow:5px 5px 6px rgba(0,0,0,.2);
}
.zuoye {
    color: #000;
}

.left {
    float: left;
    width: 700px;
    height: 700px;
    text-align: center;
}
/* 作业科目 */
.subject {
    margin-left: 170px;
    margin-bottom: 10px;
    text-align: left;
    text-shadow:5px 5px 6px rgba(0,0,0,.2);
}
/* 对作业的要求 */
.content {
    margin: 5px 170px 0 170px;
    text-align: left;
    text-shadow:5px 5px 6px rgba(0,0,0,.2);
}


form > div {
    width: 360px;
    height: 50px;
    margin:50px 170px 0 170px;
    border: 0;
    border-radius: 20px;  
    box-shadow: 5px 5px 3px 3px rgba(0,0,0,.1);
}

input {
    width: 360px;
    height: 50px;
    border: 0;
    border-radius: 20px;  
    line-height: 50px;
}
form > div input {
    text-indent: 1em;
}
input::placeholder {
    font-size: 18px;
    font-family: "微软雅黑";
    line-height: 50px;
    text-indent: 1em;
    text-shadow:5px 5px 6px rgba(0,0,0,.2);
}
.btn {
    width: 160px;
    height: 50px;
    background-color: #475def;
    color:#fff;
    font-weight: 700;
    font-size: 20px;
    font-family: "微软雅黑";
    cursor:pointer;
}


.submit_button {
    margin: 180px 270px 120px 270px; 
    cursor:pointer;
}

/* 右边的盒子 */
.right {
    float: left;
    position: relative;
    width: 620px;
    height: 620px;
    margin-bottom: 0px;
    border:5px dotted #bbcdfb;
    border-radius: 20px;
    text-align: center;
}
.right > div {
    float:left;
    margin: 15px 26px;
}
div img {
    cursor:pointer;
    transition-duration: all 0.3s;
}

div img:hover {
    transform:scale(1.1);
}
.btn2 {
    width: 160px;
    height: 50px;
    position: absolute;
    left: 230px;
    bottom: 80px;
    border: 2px solid #475def;
    background-color: #fff;
    color: #475def;
    font-weight: 700;
    font-size: 20px;
    font-family: "微软雅黑";
    text-align: center;
    cursor:pointer;
}

.file_up {
    position: absolute;
    display: none;
    width: 160px;
    height: 50px;
    left: 230px;
    bottom: 80px;
    /* filter: opacity(0%); */
    cursor:pointer;
}
